<nav>
  <ul>
    <li><a href="/catalog/">Home</a></li>
    <li><a href="/catalog/books">Books</a></li>
    <li><a href="/catalog/authors">Authors</a></li>
    <li><a href="/catalog/genres">Genres</a></li>
    <li><a href="/catalog/bookinstances">Book Instances</a></li>
  </ul>

  <ul>
    <li><a href="/catalog/author/create">Create Author</a></li>
    <li><a href="/catalog/genre/create">Create Genre</a></li>
    <li><a href="/catalog/book/create">Create Book</a></li>
    <li><a href="/catalog/bookinstance/create">Create Copy</a></li>
</nav>


